// http://ionicframework.com/docs/theming/

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
* ::-webkit-scrollbar {
  display: none;
}

.header-ios .toolbar-ios:last-child .toolbar-background-ios{
  //background: transparent;
  border-color: #607483;
}

.toolbar-title-ios .toolbar-title{
  font-size:  16px;
  color:  #55687f;
}

.toolbar-background{
  background-color: #607483;
}

.toolbar-title{
  color: #ffffff;
}

.tabs-ios .tabbar{
  background-color: #f6f9fa;
  -webkit-box-shadow: -1px 1px 8px 0px #aaaaaa;
  padding-bottom: 5px;
}

.tabs-ios .tab-button-icon{
  font-size: 24px;
  color: #aaaaaa;
}